.site-layout-background {
    background: #fff;
  }
  
  .dashboard-content {
    padding: 24px;
    min-height: 380px;
  }
  
  .section-title {
    margin-top: 20px;
  }
  
  .idea-form {
    max-width: 600px;
    margin: auto;
  }
  