.site-layout {
    min-height: 100vh;
  }

.site-layout-background {
    background: #001529;
    color: white;
  }
  
  .ant-menu-item {
    color: white;
  }
  
  .ant-menu-item:hover {
    background-color: #1890ff;
    color: white;
  }
  