
.login-page .content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.login-page .form-wrapper {
  width: 400px;
}
  .login-page .ant-layout * {
    padding: 0 2px;
  }

  
  .login-page .header {
    color: #fff;
    text-align: center;
    font-size: 24px;
  }

  .login-page .title {
    text-align: center;
    font-size: 36px;
  }
  
  .login-page .description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .login-page .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .login-page .footer {
    text-align: center;
    background-color: #001529;
    color: #fff;
  
  }
  