.hedernav{
    display: flex;
    justify-content: space-between;
    color:white;
  
}
.head-title{
    display: flex;
    justify-content: flex-start;
}
.head-login{
    display: flex;
    justify-content: flex-end;
    cursor: 'pointer';
}