.details-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
}